*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.todo {
  position: relative;
  width: 30%;
  min-height: 350px;
  height: 100%;
  padding: 20px 45px;
  margin: auto;
  border: 0.5px solid rgba(0, 0, 0, 0.7); }
  .todo #todo__value {
    height: 30px; }
  .todo__title {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 60px; }
  .todo__list {
    list-style: none;
    width: 100%; }
    .todo__list .stroke {
      text-decoration: line-through; }
    .todo__list-item {
      width: 85%;
      padding: 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      position: relative;
      margin-left: 30px; }
      .todo__list-item--btn, .todo__list-item--removebtn {
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center; }
      .todo__list-item--btn {
        border: 1px solid #029C83;
        color: #fefefe;
        left: -35px;
        transition: all .3s; }
      .todo__list-item--btn:hover {
        background-color: #029C83; }
      .todo__list-item .ticked {
        background-color: #029C83; }
      .todo__list-item--removebtn {
        border: 1px solid #c00d0d;
        font-size: 20px;
        right: -35px;
        top: 12px;
        color: #c00d0d;
        transition: all .3s; }
      .todo__list-item--removebtn:hover {
        background-color: #c00d0d;
        color: #FEFEFE; }
  .todo .todo__add {
    width: calc(100% + 1.5px);
    position: absolute;
    left: -1px;
    bottom: -25px;
    display: flex;
    justify-content: center; }
    .todo .todo__add #todo__value {
      height: 50px;
      font-family: inherit;
      font-size: inherit;
      width: 50%; }
    .todo .todo__add #todo__value:focus {
      outline: 1px solid #029C83; }
    .todo .todo__add-btn {
      color: #FEFEFE;
      width: 50%;
      height: 50px;
      font-size: inherit;
      font-weight: 600;
      font-family: inherit;
      position: relative;
      padding: 15px 20px 15px 40px;
      background-color: #029C83;
      outline: none;
      border: 1px solid transparent;
      cursor: pointer;
      transition: all .3s; }
      .todo .todo__add-btn span {
        position: absolute;
        top: 5px;
        left: 15px;
        font-weight: 600;
        font-size: 30px;
        margin-right: 10px; }
    .todo .todo__add-btn:hover {
      border: 1px solid #029C83;
      background-color: #FEFEFE;
      color: #029C83; }
